html, body {
    height: 100%;
}
body { 
    margin: 0; 
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}